<cb:config-template xmlns:cb="urn:ccnet.config.builder">
  
  <project name="00. Clean For All" queue="UnitTest" queuePriority="1">
		<category>Build</category>
		<webURL>http://cookie/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>	
		<tasks>
			<exec>
				<executable>!clean_all.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
		</tasks>
	</project>

  <project name="03. Raiderz UnitTest" queue="UnitTest" queuePriority="11">
		<category>UnitTest</category>
		<webURL>http://cookie/ccnet/</webURL>
		<triggers>
			<intervalTrigger seconds="60"/>
		</triggers>
    
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/CSCommon</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/ServerCommon</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/ServerCommonUnitTest</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/ServerResourceValidator</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/GameServer</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>

		<prebuild>
		  	<exec>
				<executable>!svn_cleanup.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!svn_update.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!clean_unittest_xml.bat</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\GameServer</baseDirectory>
			</exec>
		</prebuild>
		<tasks>
			<devenv>
				<solutionfile>E:\UnitTest\Develop\Server\GameServer\GameServer_unittest.sln</solutionfile>
				<configuration>Release</configuration>
				<buildtype>Build</buildtype>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
				<executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
			</devenv>
			<exec>
				<executable>GameServer_unittest.exe</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\GameServer</baseDirectory>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\Dev\GameServer\UnitTestStage1_Results.xml</file>
					<file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\Dev\GameServer\UnitTestStage2_Results.xml</file>
					<file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\Dev\GameServer\UnitTestStage3_Results.xml</file>
				</files>
			</merge>
      <xmllogger/>
      <statistics/>
		</publishers>
	</project>
  
  <project name="04. Raiderz UnitTest Flooding" queue="UnitTest" queuePriority="11">
		<category>UnitTest</category>
		<webURL>http://cookie/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="01:00" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
			<scheduleTrigger time="02:00" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
			<scheduleTrigger time="03:00" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>

			<scheduleTrigger time="09:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Saturday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="11:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Saturday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="13:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Saturday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="15:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Saturday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="17:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Saturday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="19:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Saturday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="21:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Saturday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="23:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Saturday</weekDay>
				</weekDays>
			</scheduleTrigger>

			<scheduleTrigger time="09:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Sunday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="11:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Sunday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="13:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Sunday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="15:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Sunday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="17:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Sunday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="19:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Sunday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="21:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Sunday</weekDay>
				</weekDays>
			</scheduleTrigger>
			<scheduleTrigger time="23:00" buildCondition="ForceBuild" name="Scheduled">
				<weekDays>
					<weekDay>Sunday</weekDay>
				</weekDays>
			</scheduleTrigger>
		</triggers>
		<prebuild>
		  	<exec>
				<executable>!svn_cleanup.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!svn_update.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!clean_unittest_xml.bat</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\GameServer</baseDirectory>
			</exec>
		</prebuild>
		<tasks>
			<devenv>
				<solutionfile>E:\UnitTest\Develop\Server\GameServer\GameServer_unittest.sln</solutionfile>
				<configuration>Release</configuration>
				<buildtype>Build</buildtype>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
				<executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
			</devenv>
			<exec>
				<executable>GameServer_unittest.exe</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\GameServer</baseDirectory>
				<buildArgs>100</buildArgs>  <!-- 유닛테스트 5회 실시 -->
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\Dev\GameServer\UnitTestStage1_Results.xml</file>
					<file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\Dev\GameServer\UnitTestStage2_Results.xml</file>
				</files>
			</merge>
      <xmllogger/>
      <statistics/>
		</publishers>
	</project>

	<project name="05. Database UnitTest" queue="UnitTest" queuePriority="5">
		<category>UnitTest</category>
		<webURL>http://cookie/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="01:30" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
		<sourcecontrol type="svn">
			<trunkUrl>https://source2:80/svn/project8/Develop</trunkUrl>
			<username>builder</username>
			<password>fpdlejwm2011</password>
			<autoGetSource>false</autoGetSource>
		</sourcecontrol>

		<prebuild>
			<exec>
				<executable>!svn_update.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!clean_unittest_xml.bat</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\GameServer</baseDirectory>
			</exec>
		</prebuild>
		<tasks>
			<msbuild>
				<executable>c:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
				<workingDirectory>E:\UnitTest\Develop\Server\GameServer</workingDirectory>
				<projectFile>build_unittest.proj</projectFile>
				<buildArgs>/noconsolelogger /v:minimal</buildArgs>
				<targets>BuildDBUnitTest</targets>
				<logger>C:\Program Files (x86)\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
			</msbuild>

			<exec>
				<executable>GameServer_DbTest.exe</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\GameServer</baseDirectory>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\Dev\GameServer\DBUnitTest_Results.xml</file>
				</files>
			</merge>
      <xmllogger/>
		</publishers>
	</project>

	<project name="06. Game Client UnitTest" queue="UnitTest" queuePriority="11">
		<category>UnitTest</category>
		<webURL>http://cookie/ccnet/</webURL>
		<triggers>
			<intervalTrigger seconds="60"/>
		</triggers>
    
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/CSCommon</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Game</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Tags/Raiderz_Stable</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
		<prebuild>
			<exec>
				<executable>!svn_update.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!clean_unittest_xml.bat</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime</baseDirectory>
			</exec>
			</prebuild>
		<tasks>
			<devenv>
				<solutionfile>E:\UnitTest\Develop\Game\GameUnitTest.sln</solutionfile>
				<configuration>Release</configuration>
				<buildtype>Build</buildtype>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
				<executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
			</devenv>
			<exec>
				<executable>Game_T.exe</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime</baseDirectory>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\UnitTestStage1_Results.xml</file>
					<file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\UnitTestStage2_Results.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics/>
		</publishers>
	</project>
  
	<project name="06-2. MiNet UnitTest" queue="UnitTest" queuePriority="11">
		<category>UnitTest</category>
		<webURL>http://cookie/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<intervalTrigger seconds="30"/>
		</triggers>
    
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Tags/Raiderz_Stable/MiNet</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
		<prebuild>
			<exec>
				<executable>!svn_update.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
		</prebuild>
		<tasks>
			<devenv>
				<solutionfile>E:\UnitTest\Develop\mdk\MiNet\MiNet.sln</solutionfile>
				<configuration>Release</configuration>
				<buildtype>Rebuild</buildtype>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
				<executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
			</devenv>
			<exec>
				<executable>MiNet_unittest.exe</executable>
				<baseDirectory>E:\UnitTest\Develop\mdk\MiNet\unittest\Runtime</baseDirectory>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file tag="UnitTest">E:\UnitTest\Develop\mdk\MiNet\unittest\Runtime\UnitTest_Results.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics/>
		</publishers>
	</project>
  	
  <project name="10. MasterServer UnitTest" queue="UnitTest" queuePriority="10">
		<category>UnitTest</category>
		<webURL>http://cookie/ccnet/</webURL>
		<triggers>
			<intervalTrigger seconds="300"/>
		</triggers>
    
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/CSCommon</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/ServerCommon</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/ServerCommonUnitTest</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/MasterServer</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>

		<prebuild>
			<exec>
				<executable>!svn_simple_update.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!clean_unittest_xml.bat</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\MasterServer</baseDirectory>
			</exec>
		</prebuild>
		<tasks>
			<devenv>
				<solutionfile>E:\UnitTest\Develop\Server\MasterServer\MasterServer_unittest.sln</solutionfile>
				<configuration>Release</configuration>
				<buildtype>Build</buildtype>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
				<executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
			</devenv>
			<exec>
				<executable>MasterServer_unittest.exe</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\MasterServer</baseDirectory>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\Dev\MasterServer\UnitTest_Results.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics/>
		</publishers>
	</project>

	<project name="11. LoginServer UnitTest" queue="UnitTest" queuePriority="10">
		<category>UnitTest</category>
		<webURL>http://cookie/ccnet/</webURL>
		<triggers>
			<intervalTrigger seconds="300"/>
		</triggers>
    
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/CSCommon</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/ServerCommon</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/ServerCommonUnitTest</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/LoginServer</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    
		<prebuild>
			<exec>
				<executable>!svn_simple_update.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!clean_unittest_xml.bat</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\LoginServer</baseDirectory>
			</exec>
		</prebuild>
		<tasks>
			<devenv>
			  <solutionfile>E:\UnitTest\Develop\Server\LoginServer\LoginServer_unittest.sln</solutionfile>
			  <configuration>Release</configuration>
			  <buildtype>Build</buildtype>
			  <buildTimeoutSeconds>1800</buildTimeoutSeconds>
			  <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
			</devenv>
			<exec>
				<executable>LoginServer_unittest.exe</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\LoginServer</baseDirectory>
			</exec>
		</tasks>
    <publishers>
      <merge>
        <files>
          <file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\Dev\LoginServer\UnitTest_Results.xml</file>
          <file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\Dev\LoginServer\DBUnitTest_Results.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>

  </project>

  <project name="12. AppServer UnitTest" queue="UnitTest" queuePriority="10">
		<category>UnitTest</category>
		<webURL>http://cookie/ccnet/</webURL>
		<triggers>
			<intervalTrigger seconds="300"/>
		</triggers>
    
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/CSCommon</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/ServerCommon</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/ServerCommonUnitTest</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Server/AppServer</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>

		<prebuild>
			<exec>
				<executable>!svn_simple_update.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!clean_unittest_xml.bat</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\AppServer</baseDirectory>
			</exec>
		</prebuild>
		<tasks>
			<devenv>
				<solutionfile>E:\UnitTest\Develop\Server\AppServer\AppServer_unittest.sln</solutionfile>
				<configuration>Release</configuration>
				<buildtype>Build</buildtype>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
				<executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
			</devenv>
			<exec>
				<executable>AppServer_unittest.exe</executable>
				<baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\AppServer</baseDirectory>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file tag="UnitTest">E:\UnitTest\Develop\Game\Runtime\Dev\AppServer\UnitTest_Results.xml</file>
				</files>
			</merge>
      <xmllogger/>
      <statistics/>
    </publishers>
	</project>
	
	<project name="13. ServerMonitor UnitTest" queue="UnitTest" queuePriority="11">
		<category>UnitTest</category>
		<webURL>http://cookie/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<intervalTrigger seconds="30"/>
		</triggers>
		<sourcecontrol type="svn">
			<trunkUrl>https://source2:80/svn/project8/Develop/Tools/ServerMonitor</trunkUrl>
			<username>builder</username>
			<password>fpdlejwm2011</password>
			<autoGetSource>false</autoGetSource>
		</sourcecontrol>
		<prebuild>
			<exec>
				<executable>!svn_simple_update.bat</executable>
				<baseDirectory>E:\UnitTest\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!clean_unittest_xml.bat</executable>
				<baseDirectory>E:\UnitTest\Develop\Tools\ServerMonitor\Runtime</baseDirectory>
			</exec>
		</prebuild>
		<tasks>
			<devenv>
				<solutionfile>E:\UnitTest\Develop\Tools\ServerMonitor\ServerMonitor.sln</solutionfile>
				<configuration>Release</configuration>
				<buildtype>Build</buildtype>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
				<executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
			</devenv>
			<devenv>
				<solutionfile>E:\UnitTest\Develop\Tools\ServerMonitor\ServerMonitorClient.sln</solutionfile>
				<configuration>Release</configuration>
				<buildtype>Build</buildtype>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
				<executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
			</devenv>
			<exec>
				<executable>ServerMonitor_unittest.exe</executable>
				<baseDirectory>E:\UnitTest\Develop\Tools\ServerMonitor\Runtime</baseDirectory>
			</exec>
			<exec>
				<executable>ServerMonitorClient_unittest.exe</executable>
				<baseDirectory>E:\UnitTest\Develop\Tools\ServerMonitor\Runtime</baseDirectory>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file tag="UnitTest">E:\UnitTest\Develop\Tools\ServerMonitor\Runtime\ServerMonitor_unittest_result.xml</file>
					<file tag="UnitTest">E:\UnitTest\Develop\Tools\ServerMonitor\Runtime\ServerMonitorClient_unittest_result.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics/>
		</publishers>
	</project>
	
  <project name="80. Server Resource Validator" queue="UnitTest" queuePriority="100">
    <category>Validator</category>
    <webURL>http://cookie/ccnet/</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>

    <triggers>
      <intervalTrigger seconds="30"/>
    </triggers>
    <sourcecontrol type="svn">
      <trunkUrl>https://source2:80/svn/project8_Runtime/Trunk/Dev/GameServer/system</trunkUrl>
      <username>builder</username>
      <password>fpdlejwm2011</password>
      <autoGetSource>false</autoGetSource>
    </sourcecontrol>

    <tasks>
      <exec>
        <executable>!svn_update.bat</executable>
        <baseDirectory>E:\UnitTest\Develop</baseDirectory>
      </exec>
      <exec>
        <executable>ServerResourceValidator.exe</executable>
        <baseDirectory>E:\UnitTest\Develop\Game\Runtime\Dev\ResourceValidator</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>E:\UnitTest\Develop\Game\Runtime\Dev\ResourceValidator\ServerResourceValidatorResult.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  
  <project name="90. Client Resource Validator" queue="UnitTest" queuePriority="100">
    <category>Validator</category>
    <webURL>http://cookie/ccnet/</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>

    <triggers>
      <intervalTrigger seconds="30"/>
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8_Runtime/Trunk/Data/system</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8_Runtime/Trunk/Data/Sound</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8_Runtime/Trunk/Data/Model</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8_Runtime/Trunk/Dev/ResourceValidator/ClientResourceValidator</trunkUrl>
          <username>builder</username>
          <password>fpdlejwm2011</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>

    <tasks>
      <exec>
        <executable>!svn_update.bat</executable>
        <baseDirectory>E:\UnitTest\Develop</baseDirectory>
      </exec>
      <exec>
        <executable>!start_client_validator.bat</executable>
        <baseDirectory>E:\UnitTest\Develop</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>E:\UnitTest\Develop\Game\Runtime\Dev\ResourceValidator\ClientResourceValidator\ClientValidatorResult.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>
  
</cb:config-template>
