<cb:config-template xmlns:cb="urn:ccnet.config.builder">

  <project name="Distr.00. One Click Distribute" queue="Distribution" queuePriority="1">    
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.00. One Click Distribute/ViewProjectReport.aspx</webURL>
    <!--
      더 필요한 기능.
      프로젝트 하나가 실패하면, 이후 프로젝트 모두 취소하기 기능이 필요합니다.
      귀찮아서는 아니고, 힘들어서 만들지 않았습니다. 죄송합니다. 힘들었어요. T_T
    -->
    <publishers>
      <forcebuild>
        <project>Distr.01. Start Merge</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.02. Start Build</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.03. Start Packaging</project>
      </forcebuild>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="Distr.01. Start Merge" queue="Distribution" queuePriority="10">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.01. Start Merge/ViewProjectReport.aspx</webURL>
    <publishers>
      <forcebuild>
        <project>Distr.Utility. Update All</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Merge. MDK</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Merge. Source</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Merge. Runtime</project>
      </forcebuild>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="Distr.02. Start Build" queue="Distribution" queuePriority="20">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.02. Start Build/ViewProjectReport.aspx</webURL>
    <publishers>
      <forcebuild>
        <project>Distr.Utility. Update All</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Build. GameServer</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Build. MasterServer</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Build. LoginServer</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Build. AppServer</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Build. Client - Release</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Build. Client - International</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Build. Client - Pmang</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Build. Client - Stable</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Build. Store Symbol</project>
      </forcebuild>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="Distr.03. Start Packaging" queue="Distribution" queuePriority="30">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.03. Start Packaging/ViewProjectReport.aspx</webURL>
    <publishers>
      <forcebuild>
        <project>Distr.Utility. Update All</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Packaging. Velixian Data Export</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Packaging. PackageValidator</project>
      </forcebuild>
      <forcebuild>
        <project>Distr.Packaging. Packaging</project>
      </forcebuild>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>


  <project name="Distr.Utility. Update All" queue="Distribution" queuePriority="2">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Utility. Update All/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
        <buildArgs>cleanup</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>cleanup</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
    </prebuild>
    <tasks>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
        <buildArgs>update</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
  </project>


  <project name="Distr.Merge. MDK" queue="Distribution" queuePriority="11">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Merge. MDK/ViewProjectReport.aspx</webURL>
    <tasks>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\MDK</baseDirectory>
        <buildArgs>cleanup</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\MDK</baseDirectory>
        <buildArgs>update</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\MDK</baseDirectory>
        <buildArgs>delete --message "[Builder] Delete Old Distribution Brench" --force https://source2:80/svn/maiet/mdk/Branches/Distribute_RaiderZ</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\MDK</baseDirectory>
        <buildArgs>copy --message "[Builder] Distribution Brench" https://source2:80/svn/maiet/mdk/Tags/Raiderz_Stable https://source2:80/svn/maiet/mdk/Branches/Distribute_RaiderZ</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\MDK</baseDirectory>
        <buildArgs>update</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Merge. Source" queue="Distribution" queuePriority="11">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Merge. Source/ViewProjectReport.aspx</webURL>
    <tasks>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
        <buildArgs>cleanup</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
        <buildArgs>update</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
        <buildArgs>merge --accept theirs-full https://source2:80/svn/project8/Develop</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
        <buildArgs>commit --message "[Builder] Distribution Brench"</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Merge. Runtime" queue="Distribution" queuePriority="11">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Merge. Runtime/ViewProjectReport.aspx</webURL>
    <tasks>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>cleanup</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>update</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>merge --accept theirs-full https://source2:80/svn/project8_Runtime/Trunk</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>commit --message "[Builder] Distribution Brench"</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
    </tasks>
  </project>


  <project name="Distr.Build. GameServer" queue="Distribution" queuePriority="22">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Build. GameServer/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\GameServer</baseDirectory>
        <buildArgs>/c del GameServer.exe GameServer.pdb GameServerConsole.exe GameServerConsole.pdb</buildArgs>
      </exec>
    </prebuild>
    <tasks>
      <msbuild>
        <executable>c:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <workingDirectory>E:\Distribution\Distribute\Server\GameServer</workingDirectory>
        <projectFile>build.proj</projectFile>
        <buildArgs>/noconsolelogger /v:minimal</buildArgs>
        <targets>ReleaseRebuild</targets>
        <logger>C:\Program Files (x86)\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
      </msbuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\GameServer</baseDirectory>
        <buildArgs>/c copy GameServer_r.exe GameServer.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\GameServer</baseDirectory>
        <buildArgs>/c copy GameServer_r.pdb GameServer.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\GameServer</baseDirectory>
        <buildArgs>/c copy GameServerConsole_r.exe GameServerConsole.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\GameServer</baseDirectory>
        <buildArgs>/c copy GameServerConsole_r.pdb GameServerConsole.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\GameServer</baseDirectory>
        <buildArgs>commit -m "[builder] 게임 서버 빌드" GameServer.exe GameServerConsole.exe</buildArgs>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Build. MasterServer" queue="Distribution" queuePriority="22">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Build. MasterServer/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\MasterServer</baseDirectory>
        <buildArgs>/c del MasterServer.exe MasterServer.pdb MasterServerConsole.exe MasterServerConsole.pdb</buildArgs>
      </exec>
    </prebuild>
    <tasks>
      <msbuild>
        <executable>c:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <workingDirectory>E:\Distribution\Distribute\Server\MasterServer</workingDirectory>
        <projectFile>build.proj</projectFile>
        <buildArgs>/noconsolelogger /v:minimal</buildArgs>
        <targets>ReleaseRebuild</targets>
        <logger>C:\Program Files (x86)\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
      </msbuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\MasterServer</baseDirectory>
        <buildArgs>/c copy MasterServer_r.exe MasterServer.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\MasterServer</baseDirectory>
        <buildArgs>/c copy MasterServer_r.pdb MasterServer.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\MasterServer</baseDirectory>
        <buildArgs>/c copy MasterServerConsole_r.exe MasterServerConsole.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\MasterServer</baseDirectory>
        <buildArgs>/c copy MasterServerConsole_r.pdb MasterServerConsole.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\MasterServer</baseDirectory>
        <buildArgs>commit -m "[builder] 마스터 서버 빌드" MasterServer.exe MasterServerConsole.exe</buildArgs>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Build. LoginServer" queue="Distribution" queuePriority="22">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Build. LoginServer/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\LoginServer</baseDirectory>
        <buildArgs>/c del LoginServer.exe LoginServer.pdb LoginServerConsole.exe LoginServerConsole.pdb</buildArgs>
      </exec>
    </prebuild>
    <tasks>
      <msbuild>
        <executable>c:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <workingDirectory>E:\Distribution\Distribute\Server\LoginServer</workingDirectory>
        <projectFile>build.proj</projectFile>
        <buildArgs>/noconsolelogger /v:minimal</buildArgs>
        <targets>ReleaseRebuild</targets>
        <logger>C:\Program Files (x86)\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
      </msbuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\LoginServer</baseDirectory>
        <buildArgs>/c copy LoginServer_r.exe LoginServer.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\LoginServer</baseDirectory>
        <buildArgs>/c copy LoginServer_r.pdb LoginServer.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\LoginServer</baseDirectory>
        <buildArgs>/c copy LoginServerConsole_r.exe LoginServerConsole.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\LoginServer</baseDirectory>
        <buildArgs>/c copy LoginServerConsole_r.pdb LoginServerConsole.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\LoginServer</baseDirectory>
        <buildArgs>commit -m "[builder] 로그인 서버 빌드" LoginServer.exe LoginServerConsole.exe</buildArgs>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Build. AppServer" queue="Distribution" queuePriority="22">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Build. AppServer/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\AppServer</baseDirectory>
        <buildArgs>/c del AppServer.exe AppServer.pdb AppServerConsole.exe AppServerConsole.pdb</buildArgs>
      </exec>
    </prebuild>
    <tasks>
      <msbuild>
        <executable>c:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
        <workingDirectory>E:\Distribution\Distribute\Server\AppServer</workingDirectory>
        <projectFile>build.proj</projectFile>
        <buildArgs>/noconsolelogger /v:minimal</buildArgs>
        <targets>ReleaseRebuild</targets>
        <logger>C:\Program Files (x86)\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
      </msbuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\AppServer</baseDirectory>
        <buildArgs>/c copy AppServer_r.exe AppServer.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\AppServer</baseDirectory>
        <buildArgs>/c copy AppServer_r.pdb AppServer.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\AppServer</baseDirectory>
        <buildArgs>/c copy AppServerConsole_r.exe AppServerConsole.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\AppServer</baseDirectory>
        <buildArgs>/c copy AppServerConsole_r.pdb AppServerConsole.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\AppServer</baseDirectory>
        <buildArgs>commit -m "[builder] 앱 서버 빌드" AppServer.exe AppServerConsole.exe</buildArgs>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Build. Client - Release" queue="Distribution" queuePriority="22">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Build. Client - Release/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c del Raiderz.exe Raiderz.pdb</buildArgs>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>E:\Distribution\Distribute\Game\Game.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>Rebuild</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
      </devenv>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c copy Game.exe Raiderz.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c copy Game.pdb Raiderz.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>commit -m "[builder] 클라이언트 빌드(Release)" Raiderz.exe</buildArgs>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Build. Client - International" queue="Distribution" queuePriority="22">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Build. Client - International/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c del Raiderz_Publish_Buyer.exe Raiderz_Publish_Buyer.pdb</buildArgs>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>E:\Distribution\Distribute\Game\Game.sln</solutionfile>
        <configuration>Release_publish_buyer</configuration>
        <buildtype>Rebuild</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
      </devenv>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c copy Game_Publish.exe Raiderz_Publish_Buyer.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c copy Game_Publish.pdb Raiderz_Publish_Buyer.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>commit -m "[builder] 클라이언트 빌드(Publish_Buyer)" Raiderz_Publish_Buyer.exe</buildArgs>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Build. Client - Pmang" queue="Distribution" queuePriority="22">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Build. Client - Pmang/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c del Raiderz_Publish_Korea.exe Raiderz_Publish_Korea.pdb</buildArgs>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>E:\Distribution\Distribute\Game\Game.sln</solutionfile>
        <configuration>Release_publish_korea</configuration>
        <buildtype>Rebuild</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
      </devenv>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c copy Game_Publish.exe Raiderz_Publish_Korea.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c copy Game_Publish.pdb Raiderz_Publish_Korea.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>commit -m "[builder] 클라이언트 빌드(Publish_Korea)" Raiderz_Publish_Korea.exe</buildArgs>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Build. Client - Stable" queue="Distribution" queuePriority="22">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Build. Client - Stable/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c del Raiderz_Publish.exe Raiderz_Publish.pdb</buildArgs>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>E:\Distribution\Distribute\Game\Game.sln</solutionfile>
        <configuration>Release_publish</configuration>
        <buildtype>Rebuild</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
        <executable>C:\Program Files (x86)\Microsoft Visual Studio 9.0\Common7\IDE\devenv.com</executable>
      </devenv>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c copy Game_Publish.exe Raiderz_Publish.exe /y</buildArgs>
      </exec>
      <exec>
        <executable>cmd</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>/c copy Game_Publish.pdb Raiderz_Publish.pdb /y</buildArgs>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>commit -m "[builder] 클라이언트 빌드(Publish)" Raiderz_Publish.exe</buildArgs>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Build. Store Symbol" queue="Distribution" queuePriority="23">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Build. Store Symbol/ViewProjectReport.aspx</webURL>
    <tasks>
      <exec>
        <executable>!svn_indexindPDB.bat</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
      </exec>
      <exec>
        <executable>!svn_CopyPublishSymbolToIcecream.bat</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
      </exec>
    </tasks>
  </project>


  <project name="Distr.Packaging. Velixian Data Export" queue="Distribution" queuePriority="31">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Packaging. Velixian Data Export/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>cleanup</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>update</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
    </prebuild>
    <tasks>
      <exec>
        <executable>Velixian.exe</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime\Dev\Velixian</baseDirectory>
        <buildArgs>all</buildArgs>
      </exec>
      <exec>
        <executable>!commit_item_droper.xml.bat</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
      </exec>
      <exec>
        <executable>!commit_item_questrewarder.xml.bat</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
      </exec>
      <exec>
        <executable>!commit_FieldNPCs.xml.bat</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
      </exec>
      <exec>
        <executable>!commit_recipeNPC.xml.bat</executable>
        <baseDirectory>E:\Distribution\Distribute</baseDirectory>
      </exec>
    </tasks>
  </project>

  <project name="Distr.Packaging. PackageValidator" queue="Distribution" queuePriority="32">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Packaging. PackageValidator/ViewProjectReport.aspx</webURL>
    <prebuild>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>cleanup</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
      <exec>
        <executable>svn</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
        <buildArgs>update</buildArgs>
        <successExitCodes>0</successExitCodes>
      </exec>
    </prebuild>
    <tasks>
      <exec>
        <executable>PackageValidator.exe</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\Runtime</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>E:\Distribution\Distribute\Game\Runtime\packagevalidator.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>    
  </project>

  <project name="Distr.Packaging. Packaging" queue="Distribution" queuePriority="33">
    <category>Distribute</category>
    <webURL>http://cookie/ccnet/server/local/project/Distr.Packaging. Packaging/ViewProjectReport.aspx</webURL>
    <tasks>
      <exec>
        <executable>packaging.bat</executable>
        <baseDirectory>E:\Distribution\Distribute\Game\runtime</baseDirectory>
        <buildArgs>E:\Packaging\</buildArgs>
        <buildTimeoutSeconds>3000</buildTimeoutSeconds>
      </exec>
    </tasks>
  </project>

</cb:config-template>
