<!--<ccnetconfig><configurationVersion>1.4</configurationVersion></ccnetconfig>-->
<cruisecontrol>

  <!-- Tools Build, Commit -->
  <project name="RS3_Tools__Rebuild_All_Tool_Commit" queue="Job3">
    <category>ToolsBuild</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_Tools__Rebuild_All_Tool_Commit/ViewProjectReport.aspx</webURL>
    <triggers>
      <scheduleTrigger time="05:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>G:\Works\SoulHunt</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <exec>
        <executable>!buildtools_and_commit.bat</executable>
        <baseDirectory>G:\Works\SoulHunt</baseDirectory>
        <buildTimeoutSeconds>3600</buildTimeoutSeconds>
      </exec>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <!-- SoulHunt Stable-->
  <project name="RS3_SH_Test" queue="Job1">
    <category>SoulHunt</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_SH_Test/ViewLatestBuildReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Game/TestRS3</trunkUrl>
          <workingDirectory>C:\Works\SoulHunt\Game\TestRS3</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <!-- mdk-->
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>C:\Works\SoulHunt\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <triggers>
      <projectTrigger project="RS3_SH_Test_UpdateRef" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="09:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update_test_rs3.bat</executable>
        <baseDirectory>C:\Works\SoulHunt</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>C:\Works\SoulHunt\Game\TestRS3\TestRS3.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
      </devenv>
      <exec>
        <executable>TestRS3_T.exe</executable>
        <baseDirectory>C:\Works\SoulHunt\Game\runtime</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>C:\Works\SoulHunt\Game\runtime\TestRS3\Results_ScreenShotTest.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3_SH_Test_UpdateRef" queue="Job1">
    <category>SoulHunt</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_SH_Test_UpdateRef/ViewProjectReport.aspx</webURL>
    <tasks>
      <exec>
        <executable>!test_rs3_make_ref_image.bat</executable>
        <baseDirectory>C:\Works\SoulHunt</baseDirectory>
      </exec>
    </tasks>
  </project>

  <!-- Tools Stable-->
  <project name="RS3_Tools__Clean" queue="Job1">
    <category>Tools</category>
    <triggers />
    <tasks>
      <exec>
        <executable>!clean_tools.bat</executable>
        <baseDirectory>C:\Works\SoulHunt</baseDirectory>
      </exec>
    </tasks>
  </project>

  <project name="RS3_Tools_CoreTool" queue="Job1">
    <category>Tools</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_Tools_CoreTool/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3_Tools__Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Tools/CoreToolRS3</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>C:\Works\SoulHunt\Tools\CoreToolRS3</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
        <!-- mdk -->
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>C:\Works\SoulHunt\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>C:\Works\SoulHunt</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>C:\Works\SoulHunt\Game\CoreTool\CoreToolRS3.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>Build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>C:\Works\SoulHunt\Tools\CoreToolRS3\Result_UnitTest.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3_Tools_McvRS3" queue="Job1">
    <category>Tools</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_Tools_McvRS3/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3_Tools__Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable/Tools/McvRS3</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>C:\Works\SoulHunt\mdk\Tools\McvRS3</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
        <!-- mdk -->
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>C:\Works\SoulHunt\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>C:\Works\SoulHunt</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>C:\Works\SoulHunt\mdk\Tools\McvRS3\Mcv.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>build</buildtype>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3_Tools_RS3Debugger" queue="Job1">
    <category>Tools</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_Tools_RS3Debugger/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3_Tools__Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable/Tools/RS3Debugger</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>C:\Works\SoulHunt\mdk\Tools\RS3Debugger</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
        <!-- mdk -->
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>C:\Works\SoulHunt\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>C:\Works\SoulHunt</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>C:\Works\SoulHunt\mdk\Tools\RS3Debugger\RS3Debugger.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>build</buildtype>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>
  
  <project name="RS3_Tools_Character_NET" queue="Job1">
    <category>Tools</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_Tools_Character_NET/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3_Tools__Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Tools/Character_NET</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>C:\Works\SoulHunt\Tools\Character_NET</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
        <!-- mdk -->
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>C:\Works\SoulHunt\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>C:\Works\SoulHunt</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>C:\Works\SoulHunt\Tools\Character_NET\Character_NET.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3_Tools_EffectTool_NET" queue="Job1">
    <category>Tools</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_Tools_EffectTool_NET/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3_Tools__Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Tools/EffectTool_NET</trunkUrl>
          <workingDirectory>C:\Works\SoulHunt\Tools\EffectTool_NET</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <!-- mdk -->
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>C:\Works\SoulHunt\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>C:\Works\SoulHunt</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>C:\Works\SoulHunt\Tools\EffectTool_NET\EffectTool_NET.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3_Shader_Compile" queue="Job1">
    <category>Tools</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_Shader_Compile/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable/RealSpace3/Runtime</trunkUrl>
          <workingDirectory>C:\Works\SoulHunt\mdk\RealSpace3\Runtime</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <tasks>
      <exec>
        <executable>!shader_compile_and_commit.bat</executable>
        <baseDirectory>C:\Works\SoulHunt\mdk\RealSpace3\Runtime</baseDirectory>
      </exec>
    </tasks>
  </project>
  
  <!-- Gunz2 Develop-->
  <project name="RS3Dev_Gunz2_Clean" queue="Job1">
    <category>Gunz2Dev</category>
    <triggers />
    <tasks>
      <exec>
        <executable>!clean_client.bat</executable>
        <baseDirectory>C:\WorksGunz2\Gunz2_RS3Develop</baseDirectory>
      </exec>
    </tasks>
  </project>

  <project name="RS3Dev_Gunz2_Client" queue="Job1">
    <category>Gunz2Dev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_Gunz2_Client/ViewProjectReport.aspx</webURL>
    <triggers>
      <projectTrigger project="RS3Dev_Gunz2_Clean"/>
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/Gunz2/Develop/Gunz2</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>C:\WorksGunz2\Gunz2_RS3Develop\Gunz2</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>C:\WorksGunz2\Gunz2_RS3Develop\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <workingDirectory>C:\WorksGunz2\Gunz2_RS3Develop\mdk\RealSpace3</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/Gunz2/Develop/GCommon</trunkUrl>
          <workingDirectory>C:\WorksGunz2\Gunz2_RS3Develop\GCommon</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/Gunz2/Develop/GNetwork</trunkUrl>
          <workingDirectory>C:\WorksGunz2\Gunz2_RS3Develop\GNetwork</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update.bat</executable>
        <baseDirectory>C:\WorksGunz2\Gunz2_RS3Develop</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>C:\WorksGunz2\Gunz2_RS3Develop\Gunz2\Gunz2_Client.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>Build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <!-- SoulHunt Develop-->
  <project name="RS3Dev_SH_Clean" queue="Job2">
    <category>SoulHuntDev</category>
    <triggers />
    <tasks>
      <exec>
        <executable>!clean_all.bat</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop</baseDirectory>
      </exec>
    </tasks>
  </project>

  <project name="RS3Dev_SH_rs3" queue="Job2">
    <category>SoulHuntDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_SH_rs3/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3Dev_SH_Clean"/>
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\mdk\RealSpace3</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works\SoulHunt_RS3Develop\mdk\mdk.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>Build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

<!--
  <project name="RS3Dev_SH_Server" queue="Job2">
    <category>SoulHuntDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_SH_Server/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <scheduleTrigger time="04:00" buildCondition="ForceBuild" name="Scheduled">
        <weekDays>
          <weekDay>Monday</weekDay>
          <weekDay>Tuesday</weekDay>
          <weekDay>Wednesday</weekDay>
          <weekDay>Thursday</weekDay>
          <weekDay>Friday</weekDay>
        </weekDays>
      </scheduleTrigger>
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop</baseDirectory>
      </exec>
      <exec>
        <executable>!clean_soulhunt.bat</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works\SoulHunt_RS3Develop\Server\GameServer\GameServer.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>Build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>
-->
  
  <project name="RS3Dev_SH_Client" queue="Job2">
    <category>SoulHuntDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_SH_Client/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\mdk\RealSpace3</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <triggers>
      <projectTrigger project="RS3Dev_SH_Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works\SoulHunt_RS3Develop\Game\Game.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3Dev_SH_Client_UnitTest" queue="Job2">
    <category>SoulHuntDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_SH_Client_UnitTest/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/CSCommon</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Game</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\mdk\RealSpace3</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <triggers>
      <projectTrigger project="RS3Dev_SH_Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update.bat</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop</baseDirectory>
      </exec>
      <exec>
        <executable>!clean_unittest_xml.bat</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop\Game\Runtime</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works\SoulHunt_RS3Develop\Game\GameUnitTest.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
      <exec>
        <executable>Game_T.exe</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop\Game\Runtime</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file tag="UnitTest">D:\Works\SoulHunt_RS3Develop\Game\Runtime\UnitTestStage1_Results.xml</file>
          <file tag="UnitTest">D:\Works\SoulHunt_RS3Develop\Game\Runtime\UnitTestStage2_Results.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3Dev_SH_Test" queue="Job2">
    <category>SoulHuntDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_SH_Test/ViewLatestBuildReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Game/TestRS3</trunkUrl>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\Game\TestRS3</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\mdk\RealSpace3</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <triggers>
      <projectTrigger project="RS3Dev_SH_Test_UpdateRef" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="09:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update_test_rs3.bat</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works\SoulHunt_RS3Develop\Game\TestRS3\TestRS3.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
      </devenv>
      <exec>
        <executable>TestRS3_T.exe</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop\Game\runtime</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\Works\SoulHunt_RS3Develop\Game\runtime\TestRS3\Results_ScreenShotTest.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3Dev_SH_Test_UpdateRef" queue="Job2">
    <category>SoulHuntDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_SH_Test_UpdateRef/ViewProjectReport.aspx</webURL>
    <tasks>
      <exec>
        <executable>!test_rs3_make_ref_image.bat</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop</baseDirectory>
      </exec>
    </tasks>
  </project>

  <project name="RS3Dev_SH_RS3UnitTest" queue="Job2">
    <category>SoulHuntDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_SH_RS3UnitTest/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3Dev_SH_Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>D:\Works\SoulHunt_RS3Develop\mdk\RealSpace3</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works\SoulHunt_RS3Develop\mdk\RealSpace3\UnitTest\RS3UnitTest.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
      </devenv>
      <exec>
        <executable>UnitTest_T.exe</executable>
        <baseDirectory>D:\Works\SoulHunt_RS3Develop\mdk\RealSpace3\UnitTest\Runtime</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\Works\SoulHunt_RS3Develop\mdk\RealSpace3\UnitTest\Runtime\Results_RS3.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <!-- Tools Develop-->
  <project name="RS3Dev_Tools__Clean" queue="Job2">
    <category>ToolsDev</category>
    <triggers />
    <tasks>
      <exec>
        <executable>!clean_tools.bat</executable>
        <baseDirectory>D:\Works2\SoulHunt_RS3DevelopTools</baseDirectory>
      </exec>
    </tasks>
  </project>

  <project name="RS3Dev_Tools_CoreTool" queue="Job2">
    <category>ToolsDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_Tools_CoreTool/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3Dev_Tools__Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Tools/CoreToolRS3</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\Tools\CoreToolRS3</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk\RealSpace3</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>D:\Works2\SoulHunt_RS3DevelopTools</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works2\SoulHunt_RS3DevelopTools\Game\CoreTool\CoreToolRS3.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>Build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\Works2\SoulHunt_RS3DevelopTools\Tools\CoreToolRS3\Result_UnitTest.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3Dev_Tools_McvRS3" queue="Job2">
    <category>ToolsDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_Tools_McvRS3/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3Dev_Tools__Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable/Tools/McvRS3</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk\Tools\McvRS3</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk\RealSpace3</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>D:\Works2\SoulHunt_RS3DevelopTools</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works2\SoulHunt_RS3DevelopTools\mdk\Tools\McvRS3\Mcv.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>build</buildtype>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3Dev_Tools_RS3Debugger" queue="Job2">
    <category>ToolsDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_Tools_RS3Debugger/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3Dev_Tools__Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable/Tools/RS3Debugger</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk\Tools\RS3Debugger</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk\RealSpace3</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>D:\Works2\SoulHunt_RS3DevelopTools</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works2\SoulHunt_RS3DevelopTools\mdk\Tools\RS3Debugger\RS3Debugger.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>build</buildtype>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>
  
  <project name="RS3Dev_Tools_Character_NET" queue="Job2">
    <category>ToolsDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_Tools_Character_NET/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3Dev_Tools__Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Tools/Character_NET</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\Tools\Character_NET</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk\RealSpace3</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>D:\Works2\SoulHunt_RS3DevelopTools</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works2\SoulHunt_RS3DevelopTools\Tools\Character_NET\Character_NET.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3Dev_Tools_EffectTool_NET" queue="Job2">
    <category>ToolsDev</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_Tools_EffectTool_NET/ViewProjectReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <projectTrigger project="RS3Dev_Tools__Clean" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/project8/Develop/Tools/EffectTool_NET</trunkUrl>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\Tools\EffectTool_NET</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Stable</trunkUrl>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Develop/RealSpace3</trunkUrl>
          <username>builder</username>
          <password>rhksfl2009</password>
          <workingDirectory>D:\Works2\SoulHunt_RS3DevelopTools\mdk\RealSpace3</workingDirectory>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <prebuild>
      <exec>
        <executable>!svn_update_except_runtime.bat</executable>
        <baseDirectory>D:\Works2\SoulHunt_RS3DevelopTools</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\Works2\SoulHunt_RS3DevelopTools\Tools\EffectTool_NET\EffectTool_NET.sln</solutionfile>
        <configuration>Debug</configuration>
        <buildtype>build</buildtype>
        <buildTimeoutSeconds>1800</buildTimeoutSeconds>
      </devenv>
    </tasks>
    <publishers>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

</cruisecontrol>