<!--<ccnetconfig><configurationVersion>1.4</configurationVersion></ccnetconfig>-->
<cruisecontrol>

  <!-- Screenshot Test Stable -->
  <project name="RS3_NVIDIA_Screenshot_Test_Clean" queue="Q">
    <category>ScreenshotTest</category>
    <triggers />
    <tasks>
      <devenv>
        <solutionfile>D:\ScreenshotTest\Test\mdk\RealSpace3\TestRS3\TestRS3.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>clean</buildtype>
      </devenv>
    </tasks>
  </project>

  <project name="RS3_NVIDIA_Screenshot_Test" queue="Q">
    <category>ScreenshotTest</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_NVIDIA_Screenshot_Test/ViewLatestBuildReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Branches/0.9-stable</trunkUrl>
          <workingDirectory>D:\ScreenshotTest\Test\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <triggers>
      <projectTrigger project="RS3_NVIDIA_Screenshot_Test_Clean" />
      <projectTrigger project="RS3_NVIDIA_Screenshot_Test_UpdateRef" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="09:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update.bat</executable>
        <baseDirectory>D:\ScreenshotTest\Test\mdk</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\ScreenshotTest\Test\mdk\RealSpace3\TestRS3\TestRS3.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
      </devenv>
      <exec>
        <executable>TestScreenShot.bat</executable>
        <baseDirectory>D:\ScreenshotTest\Test\mdk\RealSpace3\Runtime\TestRS3\Bin</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\ScreenshotTest\Test\mdk\RealSpace3\Runtime\TestRS3\Results_ScreenShotTest.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3_NVIDIA_Screenshot_Test_UpdateRef" queue="Q">
    <category>ScreenshotTest</category>
    <webURL>http://engine/ccnet/server/local/project/RS3_NVIDIA_Screenshot_Test_UpdateRef/ViewProjectReport.aspx</webURL>
    <askForForceBuildReason>Required</askForForceBuildReason>
    <tasks>
      <devenv>
        <solutionfile>D:\ScreenshotTest\Test\mdk\RealSpace3\TestRS3\TestRS3.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
      </devenv>
      <exec>
        <executable>!make_ref_image.bat</executable>
        <baseDirectory>D:\ScreenshotTest\Test\mdk\RealSpace3\Runtime\TestRS3\Bin</baseDirectory>
      </exec>
    </tasks>
  </project>

  <!-- Screenshot Test Develop-->
  <project name="RS3Dev_NVIDIA_Screenshot_Test_Clean" queue="Q">
    <category>ScreenshotTest</category>
    <triggers />
    <tasks>
      <devenv>
        <solutionfile>D:\ScreenshotTestDev\Test\mdk\RealSpace3\TestRS3\TestRS3.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>clean</buildtype>
      </devenv>
    </tasks>
  </project>

  <project name="RS3Dev_NVIDIA_Screenshot_Test" queue="Q">
    <category>ScreenshotTest</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_NVIDIA_Screenshot_Test/ViewLatestBuildReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <sourcecontrol type="multi">
      <sourceControls>
        <svn>
          <trunkUrl>https://source2:80/svn/maiet/mdk/Trunk</trunkUrl>
          <workingDirectory>D:\ScreenshotTestDev\Test\mdk</workingDirectory>
          <username>builder</username>
          <password>rhksfl2009</password>
          <autoGetSource>false</autoGetSource>
        </svn>
      </sourceControls>
    </sourcecontrol>
    <triggers>
      <projectTrigger project="RS3Dev_NVIDIA_Screenshot_Test_Clean" />
      <projectTrigger project="RS3Dev_NVIDIA_Screenshot_Test_UpdateRef" />
      <intervalTrigger seconds="30"/>
      <scheduleTrigger time="09:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update.bat</executable>
        <baseDirectory>D:\ScreenshotTestDev\Test\mdk</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\ScreenshotTestDev\Test\mdk\RealSpace3\TestRS3\TestRS3.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
      </devenv>
      <exec>
        <executable>TestScreenShot.bat</executable>
        <baseDirectory>D:\ScreenshotTestDev\Test\mdk\RealSpace3\Runtime\TestRS3\Bin</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\ScreenshotTestDev\Test\mdk\RealSpace3\Runtime\TestRS3\Results_ScreenShotTest.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

  <project name="RS3Dev_NVIDIA_Screenshot_Test_UpdateRef" queue="Q">
    <category>ScreenshotTest</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_NVIDIA_Screenshot_Test_UpdateRef/ViewProjectReport.aspx</webURL>
    <askForForceBuildReason>Required</askForForceBuildReason>
    <tasks>
      <devenv>
        <solutionfile>D:\ScreenshotTestDev\Test\mdk\RealSpace3\TestRS3\TestRS3.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
      </devenv>
      <exec>
        <executable>!make_ref_image.bat</executable>
        <baseDirectory>D:\ScreenshotTestDev\Test\mdk\RealSpace3\Runtime\TestRS3\Bin</baseDirectory>
      </exec>
    </tasks>
  </project>

  <project name="RS3Dev_Benchmark_Catacomb" queue="Q">
    <category>Benchmark</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_Benchmark_Catacomb/ViewStatisticsReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <scheduleTrigger time="05:30" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update.bat</executable>
        <baseDirectory>D:\ScreenshotTestDev\Test\mdk</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\ScreenshotTestDev\Test\mdk\RealSpace3\RS3Benchmark\RS3Benchmark.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
      </devenv>
      <exec>
        <executable>PerformanceCheck.bat</executable>
        <baseDirectory>D:\ScreenshotTestDev\Test\mdk\RealSpace3\Runtime\Benchmark\Catacomb</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\ScreenshotTestDev\Test\mdk\RealSpace3\Runtime\Benchmark\Catacomb\StatisticsResult.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics>
        <statisticList>
          <firstMatch name="FPSAverage" xpath="//STAT[@name='FPS']/@avg" generateGraph="true" include="true" />
          <firstMatch name="FPSMin" xpath="//STAT[@name='FPS']/@min" generateGraph="true" include="true" />
          <firstMatch name="FPSMax" xpath="//STAT[@name='FPS']/@max" generateGraph="true" include="true" />
          <firstMatch name="NumberOfCallsAverage" xpath="//STAT[@name='Number of Calls']/@avg" generateGraph="true" include="true" />
          <firstMatch name="NumberOfDrawCallsAverage" xpath="//STAT[@name='Number of Draw* calls']/@avg" generateGraph="true" include="true" />
          <firstMatch name="TimeSpentInDrawCallsAverage" xpath="//STAT[@name='Time spent in Draw* calls']/@avg" generateGraph="true" include="true" />
          <firstMatch name="LocksOnResourceObjectsAverage" xpath="//STAT[@name='Locks on resource objects this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="UnlocksOnResourceObjectsAverage" xpath="//STAT[@name='Unlocks on resource objects this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetRenderStateCallsAverage" xpath="//STAT[@name='SetRenderState calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetRenderTargetCallsAverage" xpath="//STAT[@name='SetRenderTarget calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetVertexShaderCallsAverage" xpath="//STAT[@name='SetVertexShader calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetPixelShaderCallsAverage" xpath="//STAT[@name='SetPixelShader calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetTextureCallsAverage" xpath="//STAT[@name='SetTexture calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetVertexShaderConstantCallsAverage" xpath="//STAT[@name='SetVertexShaderConstant&lt;T&gt; calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetPixelShaderConstantCallsAverage" xpath="//STAT[@name='SetPixelShaderConstant&lt;T&gt; calls this frame']/@avg" generateGraph="true" include="true" />
        </statisticList>
      </statistics>
    </publishers>
  </project>

  <project name="RS3Dev_Benchmark_Ingen_Freeport" queue="Q">
    <category>Benchmark</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_Benchmark_Ingen_Freeport/ViewStatisticsReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <scheduleTrigger time="06:00" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update.bat</executable>
        <baseDirectory>D:\ScreenshotTestDev\Test\mdk</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\ScreenshotTestDev\Test\mdk\RealSpace3\RS3Benchmark\RS3Benchmark.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
      </devenv>
      <exec>
        <executable>PerformanceCheck.bat</executable>
        <baseDirectory>D:\ScreenshotTestDev\Test\mdk\RealSpace3\Runtime\Benchmark\Ingen_Freeport</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\ScreenshotTestDev\Test\mdk\RealSpace3\Runtime\Benchmark\Ingen_Freeport\StatisticsResult.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics>
        <statisticList>
          <firstMatch name="FPSAverage" xpath="//STAT[@name='FPS']/@avg" generateGraph="true" include="true" />
          <firstMatch name="FPSMin" xpath="//STAT[@name='FPS']/@min" generateGraph="true" include="true" />
          <firstMatch name="FPSMax" xpath="//STAT[@name='FPS']/@max" generateGraph="true" include="true" />
          <firstMatch name="NumberOfCallsAverage" xpath="//STAT[@name='Number of Calls']/@avg" generateGraph="true" include="true" />
          <firstMatch name="NumberOfDrawCallsAverage" xpath="//STAT[@name='Number of Draw* calls']/@avg" generateGraph="true" include="true" />
          <firstMatch name="TimeSpentInDrawCallsAverage" xpath="//STAT[@name='Time spent in Draw* calls']/@avg" generateGraph="true" include="true" />
          <firstMatch name="LocksOnResourceObjectsAverage" xpath="//STAT[@name='Locks on resource objects this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="UnlocksOnResourceObjectsAverage" xpath="//STAT[@name='Unlocks on resource objects this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetRenderStateCallsAverage" xpath="//STAT[@name='SetRenderState calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetRenderTargetCallsAverage" xpath="//STAT[@name='SetRenderTarget calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetVertexShaderCallsAverage" xpath="//STAT[@name='SetVertexShader calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetPixelShaderCallsAverage" xpath="//STAT[@name='SetPixelShader calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetTextureCallsAverage" xpath="//STAT[@name='SetTexture calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetVertexShaderConstantCallsAverage" xpath="//STAT[@name='SetVertexShaderConstant&lt;T&gt; calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetPixelShaderConstantCallsAverage" xpath="//STAT[@name='SetPixelShaderConstant&lt;T&gt; calls this frame']/@avg" generateGraph="true" include="true" />
        </statisticList>
      </statistics>
    </publishers>
  </project>

  <project name="RS3Dev_Benchmark_Teress_Plain" queue="Q">
    <category>Benchmark</category>
    <webURL>http://engine/ccnet/server/local/project/RS3Dev_Benchmark_Teress_Plain/ViewStatisticsReport.aspx</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <scheduleTrigger time="06:30" buildCondition="ForceBuild" name="Scheduled" />
    </triggers>
    <prebuild>
      <exec>
        <executable>!svn_update.bat</executable>
        <baseDirectory>D:\ScreenshotTestDev\Test\mdk</baseDirectory>
      </exec>
    </prebuild>
    <tasks>
      <devenv>
        <solutionfile>D:\ScreenshotTestDev\Test\mdk\RealSpace3\RS3Benchmark\RS3Benchmark.sln</solutionfile>
        <configuration>Release</configuration>
        <buildtype>build</buildtype>
      </devenv>
      <exec>
        <executable>PerformanceCheck.bat</executable>
        <baseDirectory>D:\ScreenshotTestDev\Test\mdk\RealSpace3\Runtime\Benchmark\Teress_Plain</baseDirectory>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\ScreenshotTestDev\Test\mdk\RealSpace3\Runtime\Benchmark\Teress_Plain\StatisticsResult.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics>
        <statisticList>
          <firstMatch name="FPSAverage" xpath="//STAT[@name='FPS']/@avg" generateGraph="true" include="true" />
          <firstMatch name="FPSMin" xpath="//STAT[@name='FPS']/@min" generateGraph="true" include="true" />
          <firstMatch name="FPSMax" xpath="//STAT[@name='FPS']/@max" generateGraph="true" include="true" />
          <firstMatch name="NumberOfCallsAverage" xpath="//STAT[@name='Number of Calls']/@avg" generateGraph="true" include="true" />
          <firstMatch name="NumberOfDrawCallsAverage" xpath="//STAT[@name='Number of Draw* calls']/@avg" generateGraph="true" include="true" />
          <firstMatch name="TimeSpentInDrawCallsAverage" xpath="//STAT[@name='Time spent in Draw* calls']/@avg" generateGraph="true" include="true" />
          <firstMatch name="LocksOnResourceObjectsAverage" xpath="//STAT[@name='Locks on resource objects this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="UnlocksOnResourceObjectsAverage" xpath="//STAT[@name='Unlocks on resource objects this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetRenderStateCallsAverage" xpath="//STAT[@name='SetRenderState calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetRenderTargetCallsAverage" xpath="//STAT[@name='SetRenderTarget calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetVertexShaderCallsAverage" xpath="//STAT[@name='SetVertexShader calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetPixelShaderCallsAverage" xpath="//STAT[@name='SetPixelShader calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetTextureCallsAverage" xpath="//STAT[@name='SetTexture calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetVertexShaderConstantCallsAverage" xpath="//STAT[@name='SetVertexShaderConstant&lt;T&gt; calls this frame']/@avg" generateGraph="true" include="true" />
          <firstMatch name="SetPixelShaderConstantCallsAverage" xpath="//STAT[@name='SetPixelShaderConstant&lt;T&gt; calls this frame']/@avg" generateGraph="true" include="true" />
        </statisticList>
      </statistics>
    </publishers>
  </project>
  
</cruisecontrol>