<cruisecontrol>

  <!--
    # 우선순위 규칙#
    
    한 머신에서 작동하는 모든 프로젝트는 단일큐로 관리합니다.
    서브버전 및 서버모니터 명령충돌을 피하려합니다.
  
    우선순위는 빌드에러나 테스트 실패를 빠르게 확인하는데 중점을 둡니다.
    
    * 1~10: 단순 cmd 명령이나 bat파일 실행
    * 10~99: 소스 빌드 및 유닛테스트 실행 (소스 - 툴 - DB - 원클릭빌드 순서)
      * 10: 짧은 소스 (MasterServer, LoginServer, AppServer)
      * 11: 긴 소스 (GameServer, GameClient)
      * 20: 툴
      * 30: DB
      * 40: 원클릭빌드
    * 100~: 각종 분석기(Analyzer) 및 자동생성 툴
  -->

  <project name="00. Clean For All" queue="Q1" queuePriority="1">
		<category>Raiderz Build</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>	
		<tasks>
			<exec>
				<executable>!clean_all.bat</executable>
				<baseDirectory>E:\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!clean_all.bat</executable>
				<baseDirectory>D:\Develop</baseDirectory>
			</exec>
		</tasks>
	</project>
  
	<project name="01. Refresh GameServer" queue="Q1" queuePriority="1">
		<category>Raiderz Build</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>

    <triggers>
			<intervalTrigger seconds="60"/>
		</triggers>

		<sourcecontrol type="multi">
		  <sourceControls>
			<svn>
			  <trunkUrl>https://source2:80/svn/project8_Runtime/Trunk/Dev/GameServer/GameServerConsole.exe</trunkUrl>
			  <username>builder</username>
			  <password>fpdlejwm2011</password>
			  <autoGetSource>false</autoGetSource>
			</svn>
		  </sourceControls>
		</sourcecontrol>

		<tasks>
			<exec>
				<executable>Raiderz_DummyClient_AnnounceServerRefresh.bat</executable>
				<baseDirectory>D:\Develop\Game\Runtime</baseDirectory>
			</exec>
			<exec>
				<executable>!kill_server_noerr.bat</executable>
				<baseDirectory>D:\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!svn_cleanup.bat</executable>
				<baseDirectory>D:\Develop</baseDirectory>
        <buildTimeoutSeconds>1200</buildTimeoutSeconds>
      </exec>
			<exec>
				<executable>!svn_update.bat</executable>
				<baseDirectory>D:\Develop</baseDirectory>
			</exec>
			<exec>
				<executable>!start_server_forCI.bat</executable>
				<baseDirectory>D:\Develop</baseDirectory>
			</exec>
		</tasks>
	</project>

	<!-- Analysis -->
	<project name="55. Analysis Sources" queue="QAnalysis-1" queuePriority="100">
		<category>Analysis</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="06:00" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
		<tasks>
			<msbuild>
				<executable>c:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
				<workingDirectory>D:\Develop\Tools\SourceMonitorAnalysis</workingDirectory>
				<projectFile>build_SourceMonitor.proj</projectFile>
				<targets>RunSourceMonitor</targets>
				<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
			</msbuild>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>D:\Develop\Tools\SourceMonitorAnalysis\SourceMonitorResults.xml</file>
				</files>
			</merge>
			<xmllogger/>
		</publishers>
	</project>
  
	<project name="56. Analysis Sources(All)" queue="QAnalysis-1" queuePriority="100">
		<category>Analysis</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="06:30" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
		<tasks>
		  <msbuild>
			<executable>c:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe</executable>
			<workingDirectory>D:\Develop\Tools\SourceMonitorAnalysis</workingDirectory>
			<projectFile>build_SourceMonitor_All.proj</projectFile>
			<targets>RunSourceMonitor</targets>
			<logger>C:\Program Files\CruiseControl.NET\server\ThoughtWorks.CruiseControl.MSBuild.dll</logger>
		  </msbuild>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>D:\Develop\Tools\SourceMonitorAnalysis\SourceMonitorResults.xml</file>
				</files>
			</merge>
		</publishers>
  </project>
  
	<project name="57. Cut and Paste Detector" queue="QAnalysis-1" queuePriority="100">
		<category>Analysis</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="06:10" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
		<tasks>
			<exec>
				<executable>Raiderz_cpd.bat</executable>
				<baseDirectory>D:\Develop\Tools\PMD\pmd-4.2.5\bin</baseDirectory>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>D:\Develop\Tools\PMD\pmd-4.2.5\bin\RaiderzResults.xml</file>
				</files>
			</merge>
			<xmllogger/>
		</publishers>
	</project>


  
  
	<project name="81. Server Runtime Validator" queue="Q1" queuePriority="100">
		<category>Validator</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <intervalTrigger seconds="3600" buildCondition="ForceBuild"/>
    </triggers>
    <tasks>
			<exec>
				<executable>XmlTestReporterChecker.exe</executable>
				<buildArgs>..\GameServer\RuntimeValidate\ServerRuntimeValidatorResult.xml</buildArgs>
				<baseDirectory>D:\Develop\Game\Runtime\Dev\XmlTestReporterChecker</baseDirectory>
			</exec>
      <exec>
        <executable>XmlTestReporterChecker.exe</executable>
        <buildArgs>..\GameServer2\RuntimeValidate\ServerRuntimeValidatorResult.xml</buildArgs>
        <baseDirectory>D:\Develop\Game\Runtime\Dev\XmlTestReporterChecker</baseDirectory>
      </exec>
    </tasks>
		<publishers>
			<merge>
				<files>
					<file>D:\Develop\Game\Runtime\Dev\GameServer\RuntimeValidate\ServerRuntimeValidatorResult.xml</file>
          <file>D:\Develop\Game\Runtime\Dev\GameServer2\RuntimeValidate\ServerRuntimeValidatorResult.xml</file>
				</files>
			</merge>
      <xmllogger/>
      <statistics/>
		</publishers>
	</project>

	<project name="82. Server Runtime Validator Log Cleaner" queue="Q1" queuePriority="1">
		<category>Validator</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
    </triggers>
    <prebuild>
    </prebuild>
    <tasks>
			<exec>
				<executable>!ClearRuntimeLog.bat</executable>
				<baseDirectory>D:\Develop\Game\Runtime\Dev\XmlTestReporterChecker</baseDirectory>
			</exec>
		</tasks>
    <publishers>
      <xmllogger />
    </publishers>
  </project>

	<project name="83. CrashDump Analysis" queue="QDump1" queuePriority="100">
		<category>Validator</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="05:00" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
    <prebuild>
    </prebuild>
    <tasks>
			<exec>
				<executable>DumpAnalyzer.exe</executable>
				<baseDirectory>D:\Develop\Game\Runtime\Dev\Utils</baseDirectory>
				<buildArgs>-path \\icecream\sh_dumps --sendmail</buildArgs>
				<buildTimeoutSeconds>1800</buildTimeoutSeconds>
			</exec>
		</tasks>
    <publishers>
      <xmllogger />
    </publishers>
  </project>

  <project name="88. CrashDump Analysis For Gunz2" queue="QDump1" queuePriority="100">
		<category>Validator</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="05:01" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
    <prebuild>
    </prebuild>
    <tasks>
			<exec>
				<executable>!Run_DumpAnalyzer.bat</executable>
				<baseDirectory>D:\gunz2_dumps</baseDirectory>
				<buildTimeoutSeconds>3600</buildTimeoutSeconds>
			</exec>
		</tasks>
    <publishers>
      <xmllogger />
    </publishers>
  </project>

</cruisecontrol>
