<cruisecontrol>
	<project name="Test01 - Network Stress Test - Combat" queue="PQ1" queuePriority="1">
		<category>Raiderz Test</category>
		<webURL>http://icecream/ccnet</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="01:10" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
		<tasks>
			<exec>
				<executable>!svnupdate.bat</executable>
				<baseDirectory>D:\Runtime</baseDirectory>
			</exec>
			<exec>
				<executable>Raiderz.exe</executable>
				<baseDirectory>D:\Runtime</baseDirectory>
				<buildArgs>dev\DummyClient\Cola_pattern1.dummy.xml</buildArgs>
				<buildTimeoutSeconds>18000</buildTimeoutSeconds>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>D:\Runtime\Result_StressTest.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics/>
		</publishers>
	</project>

  <project name="Test02 - Network Stress Test - Warp" queue="PQ1" queuePriority="1">
    <category>Raiderz Test</category>
    <webURL>http://icecream/ccnet</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <scheduleTrigger time="02:10" buildCondition="ForceBuild" name="Scheduled">
      </scheduleTrigger>
    </triggers>
    <tasks>
      <exec>
        <executable>!svnupdate.bat</executable>
        <baseDirectory>D:\Runtime</baseDirectory>
      </exec>
      <exec>
        <executable>Raiderz.exe</executable>
        <baseDirectory>D:\Runtime</baseDirectory>
        <buildArgs>dev\DummyClient\Cola_pattern2.dummy.xml</buildArgs>
        <buildTimeoutSeconds>18000</buildTimeoutSeconds>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\Runtime\Result_StressTest.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

	<project name="Test03 - Replay Test" queue="PQ1" queuePriority="1">
		<category>Raiderz Client Test</category>
		<webURL>http://icecream/ccnet</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="20:00" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
		<tasks>
			<exec>
				<executable>!svnupdate.bat</executable>
				<baseDirectory>D:\Runtime</baseDirectory>
			</exec>
			<exec>
				<executable>Raiderz.exe</executable>
				<baseDirectory>D:\Runtime</baseDirectory>
				<buildArgs>Dev/ReplayPool/ReplayTest01.smv --autotest -baseline_fps=15 --auto_report_crashdump</buildArgs>
				<buildTimeoutSeconds>18000</buildTimeoutSeconds>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>D:\Runtime\ReplayTestResult.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics/>
		</publishers>
	</project>

	<project name="Test04 - ScreenShot Test" queue="PQ1" queuePriority="1">
		<category>Raiderz Test</category>
		<webURL>http://icecream/ccnet</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="08:05" buildCondition="ForceBuild" name="Scheduled"></scheduleTrigger>
			<scheduleTrigger time="11:05" buildCondition="ForceBuild" name="Scheduled"></scheduleTrigger>
			<scheduleTrigger time="12:05" buildCondition="ForceBuild" name="Scheduled"></scheduleTrigger>
			<scheduleTrigger time="13:05" buildCondition="ForceBuild" name="Scheduled"></scheduleTrigger>
			<scheduleTrigger time="15:05" buildCondition="ForceBuild" name="Scheduled"></scheduleTrigger>
			<scheduleTrigger time="16:05" buildCondition="ForceBuild" name="Scheduled"></scheduleTrigger>
			<scheduleTrigger time="17:05" buildCondition="ForceBuild" name="Scheduled"></scheduleTrigger>
			<scheduleTrigger time="18:05" buildCondition="ForceBuild" name="Scheduled"></scheduleTrigger>
		</triggers>
		<tasks>
			<exec>
				<executable>!svnupdate.bat</executable>
				<baseDirectory>D:\Runtime</baseDirectory>
			</exec>
			<exec>
				<executable>Raiderz.exe</executable>
				<baseDirectory>D:\Runtime</baseDirectory>
				<buildArgs>Dev/ReplayPool/ReplayTest01.smv --autotest  --auto_report_crashdump --screenshot -screenshotpath="\\icecream\web_incoming\screenshot"</buildArgs>
				<buildTimeoutSeconds>18000</buildTimeoutSeconds>
			</exec>
		</tasks>
	</project>

</cruisecontrol>
