USE [RZ_GAMEDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_RZ_CHAR_UPDATE_ITEM_XP]    Script Date: 12/25/2013 14:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----

CREATE PROC [dbo].[USP_RZ_CHAR_UPDATE_ITEM_XP]
(
    @WORLD_ID      INT
  ,	@ACCN_ID		BIGINT
  ,	@CHAR_ID 		BIGINT
  , @ITEM_ID		BIGINT
  , @EXP 		INT
  , @NEXTATTUNE INT
)
AS
	SET NOCOUNT ON;

	UPDATE dbo.RZ_INVEN
	   SET [CUR_XP] = @EXP,
	   [NEXT_ATTUNE_XP] = @NEXTATTUNE
	 WHERE ACCN_ID = @ACCN_ID AND IUID = @ITEM_ID;
GO
