USE [RZ_GAMEDB]
GO
/****** Object:  StoredProcedure [dbo].[USP_RZ_CHAR_GET_ITEM]    Script Date: 12/25/2013 14:47:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
----

CREATE PROC [dbo].[USP_RZ_CHAR_GET_ITEM]
(
    @WORLD_ID  INT
  , @CHAR_ID    BIGINT
)
AS
	SET NOCOUNT ON;
	
	SELECT IV.IUID, IV.SLOT_TYPE, IV.SLOT_ID, IV.ITEM_ID, IV.STACK_AMT, IV.SOUL_COUNT, IV.DURA, IV.MAX_DURA
		 , IV.COLOR, IV.CUR_XP, IV.NEXT_ATTUNE_XP, IV.CLAIMED
	 	 , IV.CHAR_PTM, IV.PERIOD, IV.USAGE_PERIOD
		 , IV.EFF_START_DATE, IV.EFF_END_DATE
		 , DATEDIFF(ss, GETDATE(), IV.EFF_END_DATE) AS EXPI_TIME
         , ISNULL(IE.ENCH_ITEM_ID_1, 0) AS ENCH_ITEM_ID_1, ISNULL(IE.ENCH_ITEM_ID_2, 0) AS ENCH_ITEM_ID_2
		 , ISNULL(IE.ENCH_ITEM_ID_3, 0) AS ENCH_ITEM_ID_3, ISNULL(IE.ENCH_ITEM_ID_4, 0) AS ENCH_ITEM_ID_4
		 , ISNULL(IE.ENCH_ITEM_ID_5, 0) AS ENCH_ITEM_ID_5, ISNULL(IE.ENCH_ITEM_ID_6, 0) AS ENCH_ITEM_ID_6
	  FROM dbo.RZ_INVEN IV
	  LEFT OUTER JOIN dbo.RZ_ITEM_ENCHANT IE
	    ON IV.IUID = IE.IUID
	 WHERE IV.OWNER_ID = @CHAR_ID
	   AND IV.SLOT_TYPE IN (1, 2)
	   AND IV.IUID > 0;
GO
