#ifndef __COMMONRES_RC__
#define __COMMONRES_RC__


#include "CommonRes.h"
#include "afxres.h"

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_FONTSEL DIALOG DISCARDABLE  13, 54, 263, 196
STYLE DS_MODALFRAME | DS_3DLOOK | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Font"
FONT 8, "MS Shell Dlg"
BEGIN
    COMBOBOX        ID_COMBO_FONT,7,16,98,76,CBS_SIMPLE | CBS_OWNERDRAWFIXED | 
                    CBS_AUTOHSCROLL | CBS_SORT | CBS_HASSTRINGS | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        ID_COMBO_STYLE,110,16,62,76,CBS_SIMPLE | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    COMBOBOX        ID_COMBO_SIZE,177,16,27,76,CBS_SIMPLE | CBS_SORT | 
                    CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    CONTROL         "Stri&keout",ID_CHECK_STRIKEOUT,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,110,49,10
    CONTROL         "&Underline",ID_CHECK_UNDERLINE,"Button",BS_AUTOCHECKBOX | 
                    WS_TABSTOP,13,123,51,10
    PUSHBUTTON      "",ID_FONTSEL_COLOR,115,115,82,12,WS_GROUP
    DEFPUSHBUTTON   "&OK",ID_FONTSEL_OK,210,16,45,14,WS_GROUP
    PUSHBUTTON      "&Cancel",ID_FONTSEL_CANCEL,210,32,45,14,WS_GROUP
    PUSHBUTTON      "&Apply",ID_FONTSEL_APPLY,210,48,45,14,NOT WS_VISIBLE | 
                    WS_GROUP
    PUSHBUTTON      "&Default",ID_FONTSEL_DEFAULT,210,64,45,14,NOT 
                    WS_VISIBLE | WS_GROUP
    LTEXT           "&Font:",ID_FONT,7,7,40,9
    LTEXT           "Font st&yle:",ID_STYLE,110,7,44,9
    LTEXT           "&Size:",ID_SIZE,172,7,30,9
    GROUPBOX        "Effects",ID_GROUP_EFFECTS,7,97,98,43,WS_GROUP
    GROUPBOX        "Color",ID_GROUP_COLOR,110,97,94,43,WS_GROUP
    GROUPBOX        "Sample",ID_SAMPLE,7,145,197,43,WS_GROUP
    CTEXT           "AaBbYyZz",ID_STATIC_SAMPLE,13,155,186,29,SS_NOPREFIX | 
                    NOT WS_VISIBLE
END


/////////////////////////////////////////////////////////////////////////////
//
// Cursor
//

IDC_SPLITTER            CURSOR  DISCARDABLE     "res\\Splitter.cur"

/////////////////////////////////////////////////////////////////////////////



#endif  //!__COMMONRES_RC__

