<cruisecontrol>
	<project name="pizza 01. Start Server" queue="Q1" queuePriority="1">
		<category>Raiderz Test</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="01:00" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
		<tasks>
			<exec>
				<executable>!kill_servers.bat</executable>
				<baseDirectory>D:\Runtime\Dev\BatchFiles</baseDirectory>
			</exec>
			<exec>
				<executable>!svn_cleanup.bat</executable>
				<baseDirectory>D:\Runtime\Dev\BatchFiles</baseDirectory>
			</exec>
			<exec>
				<executable>!svn_update.bat</executable>
				<baseDirectory>D:\Runtime\Dev\BatchFiles</baseDirectory>
			</exec>
			<exec>
				<executable>!start_servers_no_monitor.bat</executable>
				<baseDirectory>D:\Runtime\Dev\BatchFiles</baseDirectory>
			</exec>
		</tasks>
	</project>
	<project name="pizza 02. Kill Server" queue="Q1" queuePriority="1">
		<category>Raiderz Test</category>
		<webURL>http://icecream/ccnet/</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="03:00" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
		<tasks>
			<exec>
				<executable>!kill_servers.bat</executable>
				<baseDirectory>D:\Runtime\Dev\BatchFiles</baseDirectory>
			</exec>
		</tasks>
	</project>

 <!-- Tests -->
	<project name="Test - AI Combat Test" queue="Q1" queuePriority="1">
		<category>Raiderz Test</category>
		<webURL>http://icecream/ccnet</webURL>
		<modificationDelaySeconds>5</modificationDelaySeconds>
		<triggers>
			<scheduleTrigger time="04:00" buildCondition="ForceBuild" name="Scheduled">
			</scheduleTrigger>
		</triggers>
		<tasks>
			<exec>
				<executable>GameServer.exe</executable>
				<baseDirectory>D:\Runtime\Dev\GameServer</baseDirectory>
				<buildArgs>/standalone -att ai -frame 0 -repeat 1 -time 300 -speed 10 -ait 1 -npc 3000 -field 5010</buildArgs>
			</exec>
		</tasks>
		<publishers>
			<merge>
				<files>
					<file>D:\Runtime\Dev\GameServer\AutoTestResult.xml</file>
				</files>
			</merge>
			<xmllogger/>
			<statistics/>
		</publishers>
	</project>

  <!-- Tests -->
  <project name="Test - AI Profile Test" queue="Q1" queuePriority="1">
    <category>Raiderz Test</category>
    <webURL>http://icecream/ccnet</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <scheduleTrigger time="06:00" buildCondition="ForceBuild" name="Scheduled">
      </scheduleTrigger>
    </triggers>
    <tasks>
      <exec>
        <executable>GameServer.exe</executable>
        <baseDirectory>D:\Runtime\Dev\GameServer</baseDirectory>
		<buildArgs>/standalone -att ai_profile -frame 0 -repeat 1 -time 300 -speed 1</buildArgs>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\Runtime\Dev\GameServer\AutoTestResult.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>
  
  <!-- Tests -->
  <project name="Test - Check Profile Baseline" queue="Q1" queuePriority="1">
    <category>Raiderz Test</category>
    <webURL>http://icecream/ccnet</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <scheduleTrigger time="07:00" buildCondition="ForceBuild" name="Scheduled">
      </scheduleTrigger>
    </triggers>
	<tasks>
		<exec>
			<executable>!svn_update.bat</executable>
			<baseDirectory>D:\Runtime\Dev\BatchFiles</baseDirectory>
		</exec>
      <exec>
	    <executable>test_GameServerProfiler.exe</executable>
        <baseDirectory>D:\Runtime\Dev\GameServer</baseDirectory>
		<buildArgs>--config=GameServerProfile.config.xml</buildArgs>
      </exec>
    </tasks>
    <publishers>
      <merge>
        <files>
          <file>D:\Runtime\Dev\GameServer\test_GameServerProfile.xml</file>
        </files>
      </merge>
      <xmllogger/>
      <statistics/>
    </publishers>
  </project>

   <project name="Test - GameServer Profiler Report" queue="Q1" queuePriority="1">
    <category>Raiderz Test</category>
    <webURL>http://icecream/ccnet</webURL>
    <modificationDelaySeconds>5</modificationDelaySeconds>
    <triggers>
      <scheduleTrigger time="08:00" buildCondition="ForceBuild" name="Scheduled">
      </scheduleTrigger>
    </triggers>
    <tasks>
		<exec>
			<executable>!svn_update.bat</executable>
			<baseDirectory>D:\Runtime\Dev\BatchFiles</baseDirectory>
		</exec>
      <exec>
	    <executable>test_GameServerProfiler.exe</executable>
        <baseDirectory>D:\Runtime\Dev\GameServer</baseDirectory>
		<buildArgs>--config=GameServerProfile_forReport.config.xml</buildArgs>
      </exec>
    </tasks>
  </project>
</cruisecontrol>